.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;
}

.signout {
    height: 40px;
    margin: 30px;
    padding: 0px 20px;
    background-color: #000000;
    color: white;
    border: 0px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}