
.userAuth{
  
  
  display: inline-block;
    position: absolute;
    left: 25%;
    margin-top: 30px;
    margin: 0;
}
.buttonsSheet{
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 8px;
}
.box {
    position: relative;
    display: flex;
    width: 640px;
    height: 480px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(255, 255, 255, 0.1);
  }
  
  .box::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 130%;
    background: linear-gradient(#00f59b, #7014f2);
    animation: animate 4s linear infinite;
  }
  
  .box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #03071e;
    border-radius: 10px;
  }
  
  .box h1 {
    position: relative;
    color: #ffff;
    font-size: 5rem;
    z-index: 10;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


.picture , .capture{
  border: none;
  background-color: orangered;
  padding: 1em 1.5em;
  margin: 1em;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-size: bold;
}

.userAuth>p{
  align-items: center;
  display: flex;
  justify-content: center;
}
